body {
  background:linear-gradient(to right, rgba(25, 0, 255, 0.842),
   rgba(255, 0, 0, 0.315) 70.71%)
}

h1{
  font-family: 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 250%;
  text-transform: capitalize;
  transition-duration: 5s;
  text-shadow: 10px;
  font-style: oblique;
  font-stretch: expanded;
  font-display: none;
}